.flex-con{
    display: flex;
    flex-wrap: nowrap;
    background-color: red;
}
.flex-con >div{
    background-color: white;
    width: 193px;
    margin: 15px;
    text-align: center;
    line-height: 74px;
}
/* ------grid--- */
.item1{
    grid-area:header;
}
.item2{
    grid-area: menu;
}
.item3{
    grid-area: main;
}
.item4{
    grid-area: right;
}
.item5{
    grid-area: footer;
}
.grid-con{
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'menu main main main right right'
  'menu footer footer footer footer footer';
  gap: 10px;
  background-color: black;
    padding: 10px; 
}
.grid-con >div{
    background-color: darkcyan;
    text-align: center;
    padding:20px 0px;
    font-size: 30px;
}
.centre{
    text-align: center;
}
/* -----boxmodel--- */
.box-model{
    background-color: moccasin;
    width: 403px;
    border: 45px solid gray;
    padding: 94px;
    margin: 67px;
}

